.panel-body {
    min-height: 500px;
}
.basket-container .add-to-basket {
    display: none;
}
.think {
    -webkit-transition: none;
    transition: none;
}
.dragging {
    opacity: 0.5;
}
.drag {
    position: absolute;
}
